.stitched {
  width: 90px;
  padding: 5px;
  margin: 5px;
  background: #0d90df;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.3em;
  border: 2px dashed #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 0 4px #0d90df, 2px 1px 6px 4px rgba(10, 10, 0, 0.5);
  text-shadow: -1px -1px #aa3030;
  font-weight: normal;
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a:link {
  text-decoration: none;
}

li > ul {
  display: none;
  cursor: pointer;
}

li:hover ul {
  display: block;
  position: absolute;
  left: 115px;
  top: 80px;
}

li:hover ul li a:link {
  display: block;
}
